@model JournalNOEP_DOMAIN.DataYear

<div class="modal-dialog  modal-dialog-vertical-center" role="document">
    <div class="modal-content bd-0 tx-14">
        <div class="modal-header pd-x-25">
            <h6 class="tx-14 mg-b-0 tx-uppercase tx-inverse tx-bold">Год</h6>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body ">
            <div class="form-group has-success mg-b-0">
                <form id="add_author_modal">
                    <input type="hidden" name="Id" asp-for="Id" />
                    <input class="form-control" name="Year" placeholder="Год" type="number" style="width:220px" asp-for="Year" min="2010" max="2099" required />
                </form>
            </div>
        </div>
        <div class="modal-footer">
            <button type="submit" form="add_author_modal" class="btn btn-success pd-x-20">Сохранить</button>
            <button type="button" class="btn btn-secondary pd-x-20" data-dismiss="modal">Закрыть</button>
        </div>
    </div>
</div>
<script>
    $('#add_author_modal').on('submit', function () {

        $.ajax({
            method: "POST",
            url: "@Url.Action("EditYear", "Journal")",
            data: $(this).serialize()
        });
    });
</script>